.portfolio-sections{
    padding-left: 5%;
    padding-bottom: 5%;
}

.bottom{
    color: transparent;
}

.section-title{
    font-size: 1.5rem;
    color: white;
    font-family: Poppins;
    font-weight: lighter;
}

.Projects{
}