.prop-image{
    width: 25vw;
    height: 22.5vh;
    grid-row-start: 1;
    grid-column-start: 1;
    border-radius: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    @media (max-width: 415px) {
        height: 7vh;
    }

}

.prop-image1{
    height: 22.5vh;
    grid-row-start: 1;
    grid-column-start: 1;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    align-items: center;
    @media (max-width: 415px) {
        height: 7vh;
    }

}

.value{
    border-radius: 10px;
    width: 95%;
    height: 90%;
}

.project-box{
    width: 25vw;
    height: 100%;
    margin-top: 1vw;
    justify-content: right;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    margin-left: 3%;
    overflow: visible;
}

.project-text{
    border: none;
    width: 25vw;
    height: 22.5vh;
    grid-row-start: 1;
    grid-column-start: 1;
    color: rgb(59,58, 58,var(--p, 0));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgb(128, 155, 222)) var(--p, 0) / var(--p, 0) no-repeat;
    text-align: center;
    line-height: 0.5vw;
    transition: .5s, background-position 0s;
    text-decoration: none;
    z-index: 0;
    border-radius: 10px;
    font-size: 1rem;
    overflow: visible;
    justify-self: center;
    cursor: pointer;
    @media (max-width: 415px) {
        display: none;
    }
}

.project-text:hover {  --p: 100%; text-decoration: none;}


.project-name{
    font-family: Poppins;
    line-height: 3vh;
}

.project-startend{
    font-weight: 300;

}

.project-desc{
    line-height: 2vh;
}

.project-role{
    font-weight: 300;
}

.highlight1{
    background: linear-gradient(#faf593 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: .4s, background-position 0s;
  }